@model MycoKeys.WebApplication.Model.KeyMatchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mainheader">@Model.KeyTitle</h1>
    @{
        if (!string.IsNullOrEmpty(@Model.KeyDescription))
        {
            <p>@Model.KeyDescription</p>
        }
        if (!string.IsNullOrEmpty(@Model.Copyright))
        {
            <p>Copyright @Model.Copyright</p>
        }
    }
    <br />
    <h2 class="mainheader"><a name="Features"></a>Features</h2>
    <form action="/Keys/Update" method="post">
        <input type="hidden" name="KeyName" value="@Model.KeyName" />
        <table border="0" cellspacing="0" cellpadding="0" class="standard-table">
            <tbody>
                @{
                    int i = 0;
                    foreach (var attributeSelection in Model.AttributeSelections)
                    {
                        string IsSelected = "AttributeSelections[" + i + "].IsSelected";
                        string AttributeId = "AttributeSelections[" + i + "].AttributeId";
                        string AttributeValueId = "AttributeSelections[" + i + "].AttributeValueId";
                        <tr>
                            <td class="shrink">
                                <p>
                                    <input type="checkbox" name="@IsSelected" value="true" checked="@attributeSelection.IsSelected" />
                                    <label asp-for="IsSelected">@attributeSelection.Attribute.description</label>
                                    <input type="hidden" name="@AttributeId" value="@attributeSelection.Attribute.id" />
                                </p>
                            </td>
                            <td class="expand">
                                <select name="@AttributeValueId">
                                    @foreach (var item in @attributeSelection.AttributeValues)
                                    {
                                        if (item.id == @Model.AttributeSelections[i].SelectedAttributeValueId)
                                        {
                                            <option value="@item.id" selected>@item.description</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.description</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        ++i;
                    }
                }
            </tbody>
        </table>

        <input type="submit" value="Update" style="margin-left:30px; margin-top: 10px; margin-bottom: 10px; padding-left:10px; padding-right:10px; padding-top: 4px; padding-bottom: 4px;" />
    </form>

    <h2 class="mainheader"><a name="MatchResults"></a>Match Results</h2>
    <table border="0" cellspacing="0" cellpadding="0" class="standard-table">
        <tbody>
            @{
                <tr>
                    <th><p>Species</p></th>
                    <th><p>Matches</p></th>
                    <th><p>Mismatches</p></th>
                </tr>
                foreach (var item in Model.Species)
                {
                    <tr>
                        <td class="shrink">
                            <p>@item.Species.name</p>
                        </td>
                        <td class="shrink">
                            <p>@item.Matches / @item.AttributeCount</p>
                        </td>
                        <td class="expand">
                            <p>@item.Mismatches</p>
                        </td>
                    </tr>
                    ++i;
                }
            }
        </tbody>
    </table>
</div>
