@model MycoKeys.WebApplication.Model.KeyMatchViewData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mainheader">@Model.KeyTitle</h1>
    @{
        if (!string.IsNullOrEmpty(@Model.KeyDescription))
        {
            <p>@Model.KeyDescription</p>
        }
        if (!string.IsNullOrEmpty(@Model.Copyright))
        {
            <p>Copyright @Model.Copyright</p>
        }
    }
    <br />
    <h2 class="mainheader"><a name="Features"></a>Features</h2>
    <form action="/Keys/Update" method="post">
        <input type="hidden" name="KeyName" value="@Model.KeyName" />
        <table border="0" cellspacing="0" cellpadding="0" class="standard-table">
            <tbody>
                @{
                    int i = 0;
                    foreach (var item in Model.AttributeSelections)
                    {
                        string isSelected = "Selections[" + i + "].IsSelected";
                        string attributeId = "Selections[" + i + "].AttributeId";
                        <tr>
                            <td>
                                <p style="width:80%;">
                                    <input type="checkbox" name="@isSelected" value="true" checked="@item.Value" />
                                    <label asp-for="isSelected">@item.Key.description</label>
                                    <input type="hidden" name="@attributeId" value="@item.Key.id" />
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        ++i;
                    }
                }
            </tbody>
        </table>
        <input type="submit" value="Update" style="margin-left:30px; margin-top: 10px; margin-bottom: 10px; padding-left:10px; padding-right:10px; padding-top: 4px; padding-bottom: 4px;" />
    </form>

    <h2 class="mainheader"><a name="MatchResults"></a>Match Results</h2>
    <table border="0" cellspacing="0" cellpadding="0" class="standard-table">
        <tbody>
            @{
                <tr>
                    <th><p>Species</p></th>
                    <th><p>Matches</p></th>
                    <th><p>Mismatches</p></th>
                </tr>
                foreach (var item in Model.Species)
                {
                    <tr>
                        <td class="shrink">
                            <p>@item.Species.name</p>
                        </td>
                        <td class="shrink">
                            <p>@item.Matches / @item.AttributeCount</p>
                        </td>
                        <td class="expand">
                            <p>@item.Mismatches</p>
                        </td>
                    </tr>
                    ++i;
                }
            }
        </tbody>
    </table>
</div>
