@model System.Collections.Generic.List<MycoKeyCreator.Library.DBObject.Key>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mainheader">Fungal Keys</h1>
<p>Welcome to the Fungal Keys web site which presents some keys for fungi which I hope will be of use. 
    The keys are intended to be used to narrow down a specimen to a small number of candidate species 
    which can be pursued further using specialist literature. I have taken a broad approach
    especially in relation to colours, where fine distinctions such as date brown and umber are replaced with 
    a more generic term, in this case brown. </p>
<table class="table-bordered" cellspacing="0" cellpadding="0" style="width:100%; ">
    <tbody>
        @foreach (var item in Model)
        {
            string path = "/Keys/" + @item.name;
            <tr style="border: 0px;">
                <td class="compact text-nowrap" style="text-align: left; width:1%;padding:10px;">
                    <a class="" style="vertical-align:central;margin:0px;" href="@path">@item.name </a>
                </td>
                <td class="compact" style="text-align: left;padding:10px;">
                    @item.title
                    <br />
                    @item.description
                </td>
            </tr>
        }
    </tbody>
</table>
